body{
     font-size: 16px;
     background-color:#f1f1f1;
     font-family:'Arial';
      width: 90%;
      margin: 0 auto;    
 }
    
   
 .bs-container{
        margin: 20px;
        }
        
        
@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}


        