body {
  width: 90%;
  margin: 0 auto;
  background: #f2f6e9;
 
}

/*--- navigation bar ---*/

.navbar {
  background:#6ab446;
  margin: 0 auto;  
  width: 96%;
  
 
 }

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.description button {
  border:1px solid #6ab446;
  background:#6ab446;
  border-radius: 0;
  color:#fff;
}

.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

